In [1]:
%matplotlib inline
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [19]:
columns = ['user','activity','timestamp', 'x-axis', 'y-axis', 'z-axis']
df_har = pd.read_csv('WISDM_ar_v1.1_raw.txt', header = None, names = columns)

In [20]:
df_har = df_har.dropna()
df_har.shape

(1408249, 6)

In [21]:
df_har

        user activity        timestamp    x-axis     y-axis        z-axis
0         33  Jogging   49105962326000 -0.694638  12.680544   0.50395286;
1         33  Jogging   49106062271000  5.012288  11.264028   0.95342433;
2         33  Jogging   49106112167000  4.903325  10.882658  -0.08172209;
3         33  Jogging   49106222305000 -0.612916  18.496431    3.0237172;
4         33  Jogging   49106332290000 -1.184970  12.108489     7.205164;
...      ...      ...              ...       ...        ...           ...
1408247   19  Sitting  131623331483000  9.000000      -1.57         1.69;
1408248   19  Sitting  131623371431000  9.040000      -1.46         1.73;
1408249   19  Sitting  131623411592000  9.080000      -1.38         1.69;
1408250   19  Sitting  131623491487000  9.000000      -1.46         1.73;
1408251   19  Sitting  131623531465000  8.880000      -1.33         1.61;

[1408249 rows x 6 columns]

In [15]:
def string_fn(x):
    x = string(x)

In [16]:
df_har['z-axis'] = df_har['z-axis'].map(lambda x: string_fn(x))

In [18]:
df_har

        user activity        timestamp    x-axis     y-axis z-axis
0         33  Jogging   49105962326000 -0.694638  12.680544   None
1         33  Jogging   49106062271000  5.012288  11.264028   None
2         33  Jogging   49106112167000  4.903325  10.882658   None
3         33  Jogging   49106222305000 -0.612916  18.496431   None
4         33  Jogging   49106332290000 -1.184970  12.108489   None
...      ...      ...              ...       ...        ...    ...
1408247   19  Sitting  131623331483000  9.000000      -1.57   None
1408248   19  Sitting  131623371431000  9.040000      -1.46   None
1408249   19  Sitting  131623411592000  9.080000      -1.38   None
1408250   19  Sitting  131623491487000  9.000000      -1.46   None
1408251   19  Sitting  131623531465000  8.880000      -1.33   None

[1408249 rows x 6 columns]

In [17]:
df_har['z-axis'] = df_har['z-axis'].map(lambda x: x.lstrip(';'))

AttributeError: 'NoneType' object has no attribute 'lstrip'

In [5]:
df_har['z-axis'] = df_har['z-axis'].str.replace(';', '')
df_har['z-axis'] = df_har['z-axis'].apply(lambda x:float(x))

In [6]:
df = df_har[df_har['timestamp'] != 0]

In [7]:
df = df.sort_values(by = ['user', 'timestamp'], ignore_index=True)

In [8]:
df

        user  activity      timestamp  x-axis y-axis  z-axis
0          1   Walking  4991922345000    0.69   10.8   -2.03
1          1   Walking  4991972333000    6.85   7.44   -0.50
2          1   Walking  4992022351000    0.93   5.63   -0.50
3          1   Walking  4992072339000   -2.11   5.01   -0.69
4          1   Walking  4992122358000   -4.59   4.29   -1.95
...      ...       ...            ...     ...    ...     ...
1382674    6  Upstairs  4141452251000   -0.19   9.96     NaN
1382675    6  Upstairs  4141502269000   -0.15   9.92     NaN
1382676    6  Upstairs  4141552226000   -1.12   9.11     NaN
1382677    6  Upstairs  4141602306000   -1.31   8.35     NaN
1382678    6  Upstairs  4141652202000   -1.65   8.77     NaN

[1382679 rows x 6 columns]